<!DOCTYPE html>
<html lang="en">
<head>
    <title>vlr-matchups.net</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content="Which Valorant streamer is playing against another one?"/>
    <meta property="og:title" content="vlr-matchups.net"/>
    <meta property="og:description" content="Which Valorant streamer is playing against another one?"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <style>
        .playing-with {
            background-color: rgba(0, 255, 0, 0.03);
        }

        .playing-against {
            background-color: rgba(255, 0, 0, 0.03);
        }

        .card a {
            color: black;
        }

        nav {
            color: white;
            font-family: 'Operator Mono', 'Source Sans Pro', Menlo, Monaco, Consolas, Courier New, monospace;
            padding: 1em;
            background-color: rgba(221, 220, 220, 0.51);
            box-shadow: 0 0 5px rgba(0, 0, 0, .5);
        }
    </style>
</head>

<body>

<nav class="level">
    <!-- Left side -->
    <div class="level-left">
        <div class="level-item">
            <p class="subtitle is-4">
                <a href="/"><strong>vlr-matchups.net</strong></a>
            </p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <span style="color: #485fc7">Who’s playing whom?</span>
    </div>

    <!-- Right side -->
    <div class="level-right">
        <p class="level-item"><a href="about.html">About</a></p>
        <p class="level-item"><a href="https://github.com/buckket/vlr-matchups">Source Code</a></p>
    </div>
</nav>


<div class="container" style="margin-top: 3em;">
    <div class="columns is-multiline">
        {% for game in data %}
        <div class="column is-one-third" id="{{ game.streamer.name }}">
            <div class="card">
                <div class="card-image">
                    <a href="https://www.twitch.tv/{{ game.streamer.name }}" target="_blank">
                        <figure class="image is-16by9">
                            <img src="https://static-cdn.jtvnw.net/previews-ttv/live_user_{{ game.streamer.name }}-960x540.jpg"/>
                        </figure>
                    </a>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                {% if game.streamer.profile_image_url %}
                                <img class="is-rounded" src="{{ game.streamer.profile_image_url }}">
                                {% endif %}
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4"><a
                                    href="https://www.twitch.tv/{{ game.streamer.name }}"
                                    target="_blank">{{ game.streamer.name }}</a>
                            </p>
                            <p class="subtitle is-6">Viewers: {{ game.streamer.view_count }}</p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="columns is-multiline">
                            <div class="column is-half-desktop playing-with">
                                <strong style="text-decoration: underline dotted">Playing with:</strong>
                                <ul>
                                    {% for x in game.playing_with %}
                                    <li><a href="https://www.twitch.tv/{{x}}" target="_blank">{{ x }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="column is-half-desktop playing-against">
                                <strong style="text-decoration: underline dotted">Playing against:</strong>
                                <ul>
                                    {% for x in game.playing_against %}
                                    <li><a href="https://www.twitch.tv/{{x}}" target="_blank">{{ x }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<footer style="padding: 2em;">
    <div class="content has-text-centered">
        buckket // 2022 // contact: felix+vlr at buckket.org<br/>
        <span style="opacity: 0.5;">Last updated: {{ now }}</span>
    </div>
</footer>

</body>
</html>
